<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

    {% assign res = page.resources %}
    {% if res %}
        {% include {{ res }} %}
    {% endif %}

    <!-- RSS feed -->
    {% feed_meta %}

    <!-- SEO -->
    {% seo %}
</head>

<body>
    <h1>{{ site.title }}</h1>
    
    <!-- Navigation -->
    {% include navigation.html %}
    
    <h2>{{ page.title }}</h2>

    <!-- Content -->
    {{ content }}
</body>

</html>
